header {
  display: flex;
  z-index: 100;
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  top: 0;
  justify-content: space-between;
  padding: 1rem 2rem;
  align-items: center;
  height: 60px;

  .navbar-brand {
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
    display: flex;
    align-items: center;

    .logo {
      fill: white;
      height: 100%;
      margin-right: 2px;
    }
  }

  nav a {
    color: white;
    opacity: 0.8;
    transition: opacity 0.2s;
    margin-left: 1rem;

    &:hover {
      opacity: 1;
    }
  }
}
