@keyframes animateWave {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1, 0.9);
  }
}

@keyframes animateWhale {
  from {
    transform: scale(1, 1) rotate(20deg);
  }
  to {
    transform: scale(1, 0.9) rotate(15deg);
  }
}

.signup {
  height: 100%;
  background-color: #4982f5;
  overflow: hidden;

  section {
    position: relative;

    &.top {
      height: 70%;

      .wave {
        position: absolute;
        bottom: 0;
        fill: #d6e4ff;
        transform-origin: bottom;
        animation: animateWave 3000ms ease-in-out infinite alternate;

        &.light {
          fill: #d6e4ff38;
          bottom: 2rem;
        }
      }
    }

    &.bottom {
      height: 30%;
      background: #d6e4ff;
    }

    .whale {
      width: 50%;
      max-width: 600px;
      position: absolute;
      bottom: 0;
      right: 5%;
      transform-origin: bottom;
      animation: animateWhale 3000ms ease-in-out infinite alternate;
    }
  }
}
